*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    display: block;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: 1px solid black;
}

.wrapper ul {
    height: 25vh;
    width: 20vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

